In [ ]:
!unzip "hausa-sentiment-analysis.zip"

Archive:  hausa-sentiment-analysis.zip
replace sample_submission.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import re
import string
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression  # you can experiment with other models
from sklearn.model_selection import train_test_split

**LOAD DATA**

In [3]:
#Get character encoding of the files
file = ["train.csv", "test.csv"]
for single in file:
    with open(single) as f:
        print(f.encoding)

UTF-8
UTF-8

In [4]:
train = pd.read_csv('train.csv', encoding='UTF-8')   # use your own data directory/path
test = pd.read_csv('test.csv', encoding='UTF-8')

**SIMPLE EDA**

In [5]:
#Get summary of the training data
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        240 non-null    int64
 1   NewsText  240 non-null    object
 2   label     240 non-null    int64
dtypes: int64(2), object(1)
memory usage: 5.8+ KB

In [6]:
#display first 5 rows of the training dataset
train.head()

     id                                           NewsText  label
0  1553   Sannan ya ringa yin fina-finai a kan matsalol...      1
1  1059                     Karanta cikakken labarin a nan      0
2  1006  Tuni dai Saudiyya ta ce za ta kaddamar da aiki...      1
3  1242  Wannan zai hana raguwar darajarsa kamar yadda ...     -1
4  1221  Ba shi da wata iyaka, ma'ana iya shafukan da z...      0

In [7]:
#Get summary of the testing data
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        60 non-null     int64
 1   NewsText  60 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.1+ KB

In [8]:
#display first 5 rows of the testing dataset
test.head()

     id                                           NewsText
0  1278  Mene ne sakamakon zaben?"Hukumar zabe ta ayyan...
1  1721  Gwamnatin Najeriya ta ce an sako yaran ne lami...
2  1180  "An biya kuɗin fansa kafin a sake su, amma ba ...
3  1009  Rahotanni sun ce an shafe tsawon sa’a takwas a...
4  1588  Ya karbi lambobin yabo a gida Najeriya da kuma...

# MODELS

**Logistic Regresson**

In [9]:
#vectorizer:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(token_pattern=r'\b\w+\b')
train_matrix = vectorizer.fit_transform(train['NewsText'])
test_matrix = vectorizer.transform(test['NewsText'])

In [10]:
X_train1 = train_matrix
X_test1 = test_matrix

In [11]:
#The model
lr = LogisticRegression(max_iter=10000)

In [12]:
#Training the model
lr.fit(X_train1,train['label'])

LogisticRegression(max_iter=10000)

In [13]:
#Make predictions
predictions1 = lr.predict(X_test1)
len(predictions1)

60

In [14]:
print(predictions1[:10]) # printing the first 10 predictions

[ 0 -1  0 -1  1  1  0 -1  1  0]

Submission File

In [15]:
sample_submission = pd.read_csv('sample_submission.csv')

In [16]:
sample_submission.head()

     id  label
0  1278    NaN
1  1721    NaN
2  1180    NaN
3  1009    NaN
4  1588    NaN

In [17]:
submission = {'id':sample_submission['id'],
              'label':predictions1}

In [18]:
submission_file = pd.DataFrame(submission)
submission_file.head()

     id  label
0  1278      0
1  1721     -1
2  1180      0
3  1009     -1
4  1588      1

In [19]:
submission_file.shape

(60, 2)

In [20]:
submission_file.set_index('id', inplace=True)
submission_file.head()

      label
id
1278      0
1721     -1
1180      0
1009     -1
1588      1

In [21]:
submission_file.to_csv('submission_file.csv') #It's this file that needs to be submitted. Run the cell to save a copy of the file.